<style>
    section {
        margin: 0;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 30px;
    }

    .container-1 {
        text-align: center;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        padding-top: 50px;
    }

    .form-container {
        display: inline-block;
        text-align: left;
        padding: 20px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        width: 500px;
    }

    .form-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .form-list li {
        margin-bottom: 10px;
    }

    .form-list .action-item {
        display: flex;
        justify-content: space-between;
    }

    .form-list .action-item a {
        color: #000000;
        font-size: 14px;
    }

    .form-list .action-item a:hover {
        background-color: #3d2618;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.5s;
    }
</style>

<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/home"><img width="250" src="images/home.png" alt="#" /></a>
            <div class="navbar-center">
                <form class="search-form" action="/cari">
                    <input type="search" name="term" placeholder="CARI SEMINAR HASIL..." class="search-input">
                    <input type="submit" value="Search" />
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Profile <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Settings</a></li>
                            <li><a href="/riwayat">Riwayat</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();">LogOut</a>
                        <form id="logout-form" action="/logout" method="DELETE" style="display: none;">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container-1">
    <h1>Pendaftaran Seminar Hasil Anda</h1>
    <section>
        <div class="form-container">
            <ul class="form-list">
                <li>
                    {{namaMahasiswa}} <br>
                    {{nimMahasiswa}} <br>
                    {{judul}} <br>
                    {{dosenPembimbing}} <br>
                </li> <br>
                <li class="action-item">
                    <a href="/editdaftar/{{idDaftar}}">Edit</a>
                    <a href="/jadwal">Jadwal</a>
                </li>
            </ul>
        </div>
    </section>
</div>