<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/profile.css" rel="stylesheet" />
</head>

<body>
  <div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" href="/profile">Profile</a>
            <a class="list-group-item list-group-item-action" href="/profile/ubahpassword"
              onclick="window.location.href='/profile/ubahpassword';">Change
              password</a>
            <a class="list-group-item list-group-item-action" href="/logout"
              onclick="event.preventDefault(); document.getElementById('logout-form').submit();">LogOut</a>
            <form id="logout-form" action="/logout" method="DELETE" style="display: none;">
              <input type="hidden" name="_method" value="DELETE">
            </form>
            <a class="list-group-item list-group-item-action" href="/home">Back</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">

            <div class="tab-pane fade active show">
              <div class="card-body media align-items-center">
                <img src="images/profile.JPG" alt class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput">
                  </label> &nbsp;
                  <div class="text-light small mt-1">Allowed JPG or PNG. Max size of 800K</div>
                </div>
              </div>
              <hr class="border-light m-0">
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">Nama</label>
                  </div>
                  <input type="text" value="{{user.name}}" class="form-control mb-1" placeholder="Maria" disabled>

                  <div class="form-group">
                    <labelclass="form-label">Email</labelclass=>
                  </div>
                  <input type="text" class="form-control" value="{{user.email}}" placeholder="Maria" disabled>

                  <div class="form-group">
                    <label class="form-label">NIM/NIP</label>
                  </div>
                  <input type="text" class="form-control mb-1" value="{{user.nim}}" placeholder="Maria" disabled>

                  <div class="form-group">
                    <label class="form-label">Departemen</label>
                  </div>
                  <input type="text" class="form-control" value="{{user.departemen}}" placeholder="Maria" disabled>

                  <div class="form-group">
                    <label class="form-label">No HP</label>
                  </div>
                  <input type="text" class="form-control" value="{{user.hp}}" placeholder="Maria" disabled>

                  <div class="text-right mt-3">
                    <button type="button" class="btn btn-primary"><a class="btn btn-primary" href="/profile/editprofil"
                        onclick="window.location.href='/profile/editprofil';">Edit
                        Profile</a></button>&nbsp;
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>